\!note.txt
$log.txt
$saved_fname.txt
fem
git.shist
pm_tmp/
test/(spaptemp)/
test/callcc.bat
test/crap/
test/dslout_displacement.txt
test/dslout_stress.txt
test/example_code.txt
test/force_140809.c
test/pm_tmp/
test/sdl2duk.c
test/sdl_consts.txt
test/spaprt_portable.h
test/stb_image.h
test/stb_image_write.h
test/stb_truetype.h
test/test_gui.js
test/test_rc0.out
test/vecmath.txt
!bootstrap/bin/win32_release/main.exe
!bootstrap/bin/win32_release/pmjs.exe
1.bat
3linux.bat
mo/
osslib/
test/app_example/spap_release.keystore
test/app_example1/spap_release.keystore
test/charflag.bin
test/demo3d/bin/
test/demo3d/res/
test/langs.js
test/ligatures.txt
test/misc_chars.txt
test/mom60/
test/no_breaks.txt
test/opening_parenthesis.txt
test/to_lower.txt
test/to_upper.txt
test/ushyph.tex
test/wordchars.txt
wrapper/bak/
test/bin/
test/app_example/bin/
bin/
notebook.json
test/test_crash_160627.jc
js/config.json
